#heading {
  display: flex;
  justify-content: center;
  color: black;
}
#links {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  font-size: x-large;
  margin-bottom: 50px;
  margin-left: 80px;
  /* test */
}
#links a {
  text-decoration: underline;
  color: black;
}
#introdiv {
  display: flex;
  justify-content: center;
}
#intro {
  text-align: center;
  max-width: 30ch;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 60px;
  color: lightyellow;
}
#väderexempel {
  white-space: pre;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 40px;
  justify-items: center;
}
#väderexempel > div {
  border: solid black;
  padding: 10px;
  line-height: 20px;
}
h2 {
  padding: 0;
  margin: 0;
  color: black;
  text-decoration: underline;
}

#cap1 {
  background-color: rgba(75, 192, 192, 0.6);
}
#cap2 {
  background-color: rgba(75, 192, 192, 0.6);
}
#cap3 {
  background-color: rgba(75, 192, 192, 0.6);
}
#cap4 {
  background-color: rgba(75, 192, 192, 0.6);
}
#cap5 {
  background-color: rgba(75, 192, 192, 0.6);
}
#cap6 {
  background-color: rgba(75, 192, 192, 0.6);
}
#cap7 {
  background-color: rgba(75, 192, 192, 0.6);
}
#cap8 {
  background-color: rgba(75, 192, 192, 0.6);
}
#cap9 {
  background-color: rgba(75, 192, 192, 0.6);
}

/* CURRENT WEATHER */
#inputform {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#yourweather {
  white-space: pre;
  display: flex;
  margin-left: 44%;
  margin-top: 40px;
  line-height: 20px;
  padding: 10px;
  border: solid black;
  text-align: center;
  transition: background 1s;
}
#currenth2 {
  text-align: center;
  margin-top: 30px;
}
#forget {
  margin-left: 30px;
  font-size: 20px;
  display: inline;
}
#forget label{
  display: inline;
}
#latest {
  text-align: center;
  font-size: larger;
  margin-top: 40px;
  white-space: pre;
  color: lightyellow;
}
#latest p {
  text-decoration: underline;

}
#inputcurrent {
  border-radius: 6px;
}
#getcurrent {
  background-color: #4caf50;
  color: white;
  border-radius: 6px;
  margin-right: 20px;
}
#removecity {
  background-color: red;
  color: white;
  border-radius: 6px;
}

/* UPCOMING WEATHER */

#resetchart {
  background-color: red;
  color: white;
  border-radius: 6px;
}
#upcomingh2 {
  text-align: center;
  margin-top: 30px;
}
#myChart {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* FUN WITH CITIES */
#viewcity {
  line-height: 30px;
}
#citiesform {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  justify-content: space-evenly;
}
#flexview {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 100px;
  white-space: pre;
}
#showcity2 {
  margin-right: 20px;
}
#adddiv {
  display: flex;
  flex-direction: column;
}
label {
  display: inline-block;
  width: 150px;
}
#editdiv {
  display: flex;
  flex-direction: column;
}
#deletediv {
  display: flex;
  flex-direction: column;
}
#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
